<% layout('./layouts/boilerplate') %>
<form
  class="uk-container uk-container-xsmall uk-align-center uk-form-horizontal"
  action="/furniture/new"
  method="POST"
  enctype="multipart/form-data"
>
  <div class="uk-margin">
    <label class="header-label">List your used Furniture with us</label>
  </div>
  <div id="map"></div>
  <input type="hidden" name="furniture[lat]" id="latitude" readonly required />
  <input type="hidden" name="furniture[lng]" id="longitude" readonly required />
  <div class="uk-margin">
    <label id="new-label-font" class="uk-form-label" for="furniture[title]"
      >Title</label
    >
    <input
      class="uk-input uk-form-width-large"
      type="text"
      placeholder="Title"
      name="furniture[title]"
      required
    />
  </div>
  <div class="uk-margin">
    <label id="new-label-font" class="uk-form-label" for="furniture[price]"
      >Price</label
    >
    <label>£</label>
    <input
      class="uk-input uk-form-width-small"
      type="text"
      placeholder="Price"
      name="furniture[price]"
      required
    />
  </div>
  <div class="uk-margin">
    <label id="new-label-font" class="uk-form-label" for="furniture[imageurl]"
      >Image Upload</label
    >
    <!-- <input
      class="uk-input uk-form-width-large"
      type="text"
      placeholder="Image URL"
      name="furniture[imageurl]"
    /> -->
    <input type="file" name="furniture[imageurl]" multiple required />
  </div>
  <div class="uk-margin">
    <label id="new-label-font" class="uk-form-label" for="furniture[desc]"
      >Description</label
    >
    <textarea
      class="uk-textarea"
      rows="3"
      placeholder="Add a small Description"
      name="furniture[desc]"
    ></textarea>
    <div class="uk-margin">
      <button
        class="uk-button uk-button-default uk-button-large uk-align-center"
        style="border-color: black"
        type="submit"
      >
        Submit
      </button>
    </div>
  </div>
</form>

<script src="/js/setmaplocation.js"></script>
