<footer class="footer">
  <div class="uk-container uk-container-xlarge">
    <div id="footer-flex">
      <span id="footer-flex-logo">
        <div>
          <a id="logo-font" href="/" style="color: black">
            <img id="logo-nav" src="/img/furnitureflipper_logo_nobg.png" />
            FurnitureFlipper
          </a>
        </div>
        <div>
          <label id="nav-bar-font" style="color: black"
            >&copy; FurnitureFlipper 2023
          </label>
        </div>
      </span>
      <span id="footer-quick-links">
        <label>Quick Links</label>
        <a class="footer-quick-links-labels" href="/">Home</a>
        <a class="footer-quick-links-labels" href="/furniture"
          >View All Listings</a
        >
        <a class="footer-quick-links-labels" href="/furniture/map"
          >View on Map</a
        >
        <a class="footer-quick-links-labels" href="/furniture/new"
          >List with us</a
        >
        <!-- Add these pages later? -->
        <!-- <a class="footer-quick-links-labels" href="#">About us</a> -->
        <!-- <a class="footer-quick-links-labels" href="#">Contact us</a> -->
      </span>
      <span id="footer-socialmedia-links">
        <label>Social Media</label>
        <div id="footer-socialmedia-icons">
          <span uk-icon="icon: facebook; ratio: 2" style="color: black"></span>
          <span uk-icon="icon: instagram; ratio: 2" style="color: black"></span>
          <span uk-icon="icon: whatsapp; ratio: 2" style="color: black"></span>
          <a
            href="https://www.linkedin.com/in/hiran-shah-721a5a256/"
            style="color: black"
            ><span uk-icon="icon: linkedin; ratio: 2"></span
          ></a>
          <a href="https://github.com/hirnsh" style="color: black"
            ><span uk-icon="icon: github; ratio: 2"></span
          ></a>
        </div>
      </span>
      <span id="footer-goals">
        <label>Help us with our Goals</label>
        <div id="goals-logo-div">
          <div class="goals-logo-img">
            <img src="/img/recycle-logo.png" />
            <label>Recycle</label>
          </div>
          <div class="goals-logo-img">
            <img src="/img/reuse-logo.png" />
            <label>Reuse</label>
          </div>
        </div>
      </span>
    </div>
    <div id="dev-name">
      <a href="https://github.com/hirnsh"
        >Designed & Developed by Hiran Shah.</a
      >
      <a> License.</a>
    </div>
  </div>
</footer>
