<!-- style="background-color: black" -->
<nav class="uk-navbar-container uk-navbar-transparent nav-bar">
  <div class="uk-container uk-container-xlarge">
    <div uk-navbar>
      <div class="uk-navbar-left">
        <a id="logo-font" class="uk-navbar-item uk-logo" href="/"
          >FurnitureFlipper</a
        >
      </div>
      <div class="uk-navbar-right">
        <ul id="nav-bar-full" class="uk-navbar-nav">
          <li><a id="nav-bar-font" href="/furniture">View Listed</a></li>
          <% if (!currentUser) { %>
          <li><a id="nav-bar-font" href="/login">Login</a></li>
          <li><a id="nav-bar-font" href="/register">Register</a></li>
          <% } else { %>
          <li>
            <a id="nav-bar-font" href="#" style="color: grey"
              >HELLO <%= currentUser.firstName %></a
            >
          </li>
          <li><a id="nav-bar-font" href="/furniture/new">List with us</a></li>
          <li><a id="nav-bar-font" href="/logout">Logout</a></li>
          <% } %>
          <li><a id="nav-bar-font" href="#">About us</a></li>
          <li><a id="nav-bar-font" href="#">Contact us</a></li>
        </ul>

        <ul id="nav-bar-small" class="uk-navbar-nav">
          <li>
            <a
              class="uk-navbar-toggle uk-navbar-toggle-animate"
              uk-navbar-toggle-icon
              href="#"
            ></a>
            <div
              class="uk-navbar-dropdown uk-navbar-transparent"
              style="background-color: black"
            >
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li><a id="nav-bar-font" href="/furniture">View Listed</a></li>
                <% if (!currentUser) { %>
                <li><a id="nav-bar-font" href="/login">Login</a></li>
                <li><a id="nav-bar-font" href="/register">Register</a></li>
                <% } else { %>
                <li>
                  <a id="nav-bar-font" href="#" style="color: grey"
                    >HELLO <%= currentUser.firstName.toUpperCase() %></a
                  >
                </li>
                <li>
                  <a id="nav-bar-font" href="/furniture/new">List with us</a>
                </li>
                <li><a id="nav-bar-font" href="/logout">Logout</a></li>
                <% } %>
                <li class="uk-nav-divider"></li>
                <li><a id="nav-bar-font" href="#">About us</a></li>
                <li><a id="nav-bar-font" href="#">Contact us</a></li>
                <!-- <li class="uk-nav-header">Header</li> -->
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
