<!DOCTYPE html>
<link rel="stylesheet" href="/css/home.css" />
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Furniture Flipper | <%= title %></title>
    <meta
      name="description"
      content="Furniture Flipper, used furniture, old furniture, buy used furniture, second hand furniture"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" href="" /> -->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/uikit.min.css" />
  </head>
  <body>
    <%- include("./partials/navbar"); %>
    <div id="home-inner-div">
      <div class="flex-container-div">
        <h1 style="text-align: center">Welcome to Furniture Flipper</h1>
        <div><a href="/furniture">View All Listings</a></div>
      </div>
      <div class="image-containter-div">
        <!-- will display either image, depending on time -->
        <% if (Date.now() % 2 === 0 ) { %>
        <img id="homepage-img" src="/img/home-img-3.png" />
        <% } else if (Date.now() % 3 === 0 ) {%>
        <img id="homepage-img" src="/img/home-img-2.png" />
        <% } else { %>
        <img id="homepage-img" src="/img/home-img-1.png" />
        <% } %>
      </div>
    </div>

    <%- include("./partials/footer"); %>
    <!-- <script src=""></script> -->
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
  </body>
</html>
