/* HOMEPAGE STYLES */
.header-label {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
}
#home-inner-div {
  display: flex;
  flex-direction: row-reverse;
  min-height: 100vh;
}
#flex-container-div {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* inline center in h1 text of Welcome to Furniture Flipper */
}
#image-container-div {
  width: 50vw;
  height: 100vh;
}
#homepage-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}

@media only screen and (max-width: 860px) {
  .header-label {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
  }
  #home-inner-div {
    display: flex;
    flex-direction: column;
  }
  #flex-container-div {
    width: auto;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* inline center in h1 text of Welcome to Furniture Flipper */
  }
  #image-container-div {
    width: 100vw;
  }
}
