@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Ysabeau:ital@0;1&display=swap");

/* NAVBAR STYLES */
#logo-nav {
  width: 6vh;
}
.nav-bar {
  background-color: black;
}
#nav-bar-full {
  display: contents;
}
#nav-bar-small {
  display: none;
}
#logo-font {
  font-family: "Ysabeau", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
#nav-bar-font {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: white;
}

/* BODY STYLES */
body {
  min-height: 100vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  background-color: #eeeaea;
}
.main-class {
  margin-top: 0vh;
  margin-bottom: 2vh;
}
/* Leaflet/OpenStreet Maps */
#map_all {
  height: 50vh;
}
#map_current {
  height: 50vh;
}
/* BODY FONT STYLES */
#new-label-font {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}
.header-label {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
}

/* FOOTER STYLES */
.footer {
  background-color: #a1909057;
  margin-top: auto;
  margin-bottom: 0;
  padding-top: 3vh;
  padding-bottom: 3vh;
}
#footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#footer-flex-logo {
  min-width: 18vw;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  /* justify-content: center; */
}
#footer-quick-links {
  min-width: 9vw;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.footer-quick-links-labels {
  text-decoration: none;
  color: black;
}
#footer-socialmedia-links {
  min-width: 16vw;
  margin: 1rem;
}
#footer-socialmedia-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1rem;
}
#footer-socialmedia-icons * {
  flex-basis: 2rem;
}
#footer-goals {
  margin: 1rem;
  /* text-align: center; */
}
#goals-logo-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.goals-logo-img {
  display: flex;
  flex-direction: column;
  width: 4rem;
  align-items: center;
  margin: 1rem;
}

/* MASONRY CARD STYLES */
#mason {
  visibility: hidden;
}
.mason_col {
  width: 33%; /*3 columns*/
}
.imgblock {
  transition: transform 0.2s ease-in-out;
}
.mason_card {
  background-color: black;
}
.mason_card img:hover {
  transform: scale(0.95);
}
.mason-card-font {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
#badge-label-font {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: white;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 860px) {
  /* NAVBAR STYLES */
  #nav-bar-full {
    display: none;
  }
  #nav-bar-small {
    display: contents;
  }

  .header-label {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
  }

  /* MASONRY CARD STYLES */
  .mason_col {
    width: 50%; /*3 columns*/
  }

  #footer-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
