/* SIGN UP & SIGN IN STYLES */
/* body {
  overflow-x: hidden;
} */
.header-label {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
}
#home-inner-div {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
#flex-container-div {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
#image-container-div {
  width: 30vw;
  height: 100vh;
}
#homepage-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}

@media only screen and (max-width: 860px) {
  .header-label {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
  }
  #home-inner-div {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
  }
  #flex-container-div {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #image-container-div {
    width: 100vw;
    height: auto;
  }
}
