<% layout('./layouts/boilerplate') %>
<form action="/login" method="POST">
  <label for="email">Email</label>
  <input type="text" id="email" name="username" />
  <label for="password">Password</label>
  <input type="password" id="password" name="password" />
  <button type="submit">Submit</button>
</form>
